<IfModule mod_expires.c>
  # Enable expirations
  ExpiresActive On
  # Default directive
  ExpiresDefault "access plus 1 month"
  # My favicon
  ExpiresByType image/x-icon "access plus 1 year"
  # Images
  ExpiresByType image/gif "access plus 1 month"
  ExpiresByType image/png "access plus 1 month"
  ExpiresByType image/jpg "access plus 1 month"
  ExpiresByType image/jpeg "access plus 1 month"
  # CSS
  ExpiresByType text/css "access plus 1 month"
  # Javascript
  ExpiresByType application/javascript "access plus 1 year"
</IfModule>

<IfModule mod_rewrite.c>
  # Justhost.com
  # .htaccess main domain to subdirectory redirect
  # Do not change this line.
  RewriteEngine on
  # Change example.com to be your main domain.
  RewriteCond %{HTTP_HOST} ^(www.)?example.com$
  # Change 'subdirectory' to be the directory you will use for your main domain.
  RewriteCond %{REQUEST_URI} !^/subdirectory/
  # Don't change the following two lines.
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  # Change 'subdirectory' to be the directory you will use for your main domain.
  RewriteRule ^(.*)$ /subdirectory/$1
  # Change example.com to be your main domain again.
  # Change 'subdirectory' to be the directory you will use for your main domain
  # followed by / then the main file for your site, index.php, index.html, etc.
  RewriteCond %{HTTP_HOST} ^(www.)?example.com$
  RewriteRule ^(/)?$ subdirectory/index.html [L]
</IfModule>
